<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
</head>
<body>

<center>
<h1>Contact Registration Form<h1>
<form name="register" method="post" action="insertuser">
{% csrf_token %}
<pre>
UID     : <input type="text" name="tuid" value="" width="50"><br>
NAME    : <input type="text" name="tuname" value="" width="200"><br>
EMAIL   : <input type="text" name="tuemail" value="" width="100"><br>
CONTACT : <input type="text" name="tucontact" value="" width="20"><br>

<input type="submit" name="reg" value="click to register" width ="500" height="100">

<pre>
</form>
</center>

</body>
</html>